<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kkmk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22E976FB1D78D91200DF6BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22E977161D78D91200DF6BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22E977211D78D91200DF6BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
